
@{
    ViewBag.Title = "AdminZone";
}

<h2>Admin Zone</h2>


<h1> <a href="@Url.Action("CarDetails","Car")">Car </a></h1>

<h1> <a href="@Url.Action("BookingList","Booking")">Booking</a></h1>


<h1> <a href="@Url.Action("PaymentList","Payment")">Payment</a></h1>


<h1> <a href="@Url.Action("contactDisplay","ContactList")">View Feed Back </a></h1>

