
@{
    ViewBag.Title = "AdminLogin";
}

<h2>Admin Login</h2>


<div class="container">
        <div class="row">
            <div class="col-md-12">
                  <form method="post" action="LoginPass">
                    <div class="form-group-lg">
                        <label>Enter User Name </label>
                        <input type="text" name="AdminName" id="AdminName" class="form-control" />

                    </div>

                    <div class="form-group-lg">
                        <label>Enter Password </label>
                        <input type="password" name="AdminPassword" id="AdminPassword" class="form-control" />

                    </div>
                      <br/>
                    <input type="submit"  value="sign In" class="btn btn-warning" />

                </form>
            </div>


        </div>



</div>