@{
    ViewBag.Title = "Home Page";
}

<center>
    <div>
        <img src="https://image.slidesharecdn.com/lookingforacheapcarrentalcompanyinauckland-160328170856/95/looking-for-a-cheap-car-rental-company-in-auckland-1-638.jpg?cb=1459185371" />
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Car Rental</h2>
            <p>
                Simple CRUD based car rental store you have to login for to avail all the functionalties of Car rental store
            </p>

        </div>
        <div class="col-md-4">
            <h2>
                About Contact
            </h2>
            <p>If you the user then you can click on the contact tab and send your message and admin view it can contact as soon as possible</p>

        </div>

    </div>
</center>